@import "variables";

// List Icons
// -------------------------

.#{$mdl2-css-prefix}-ul {
  padding-left: 0;
  margin-left: $mdl2-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$mdl2-css-prefix}-li {
  position: absolute;
  left: -$mdl2-li-width;
  width: $mdl2-li-width;
  top: (2em / 14);
  text-align: center;
  &.#{$mdl2-css-prefix}-lg {
    left: -$mdl2-li-width + (4em / 14);
  }
}
