// Variables
// --------------------------

$mdl2-font-path:        "../fonts" !default;
$mdl2-font-size-base:   14px !default;
$mdl2-line-height-base: 1 !default;
$mdl2-css-prefix:       mdl2 !default;
$mdl2-version:          "4.6.3" !default;
$mdl2-border-color:     #eee !default;
$mdl2-inverse:          #fff !default;
$mdl2-li-width:         (30em / 14) !default;

