<div class="jumbotron jumbotron-carousel hidden-print">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 text-center">
        <h1>MDL2 Icons</h1>
        <p>The MDL2 iconic font and CSS toolkit</p>
        <div class="actions">
          <a class="btn btn-default btn-lg" href="#modal-download">
            <i class="mdl2 mdl2-download mdl2-lg" aria-hidden="true"></i>&nbsp;
            Download
          </a>
        </div>
        <div class="shameless-self-promotion">
          Version {{ site.mdl2icons.version }} &nbsp;&nbsp;&middot;&nbsp;&nbsp;
          <a href="{{ site.mdl2icons.github.url }}">
            GitHub Project</a> &nbsp;&nbsp;&middot;&nbsp;&nbsp;
          Created by <a href="{{ site.mdl2icons.author.url }}">Scott Dorman</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div id="icon-carousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><div><i class="mdl2 mdl2-admin" aria-hidden="true"></i><span class="sr-only">admin icon</span></div></div>
            <div class="item"><div><i class="mdl2 mdl2-calendar" aria-hidden="true"></i><span class="sr-only">calendar icon</span></div></div>
            <div class="item"><div><i class="mdl2 mdl2-camera" aria-hidden="true"></i><span class="sr-only">camera icon</span></div></div>
            <div class="item"><div><i class="mdl2 mdl2-comment" aria-hidden="true"></i><span class="sr-only">comment icon</span></div></div>
            <div class="item"><div><i class="mdl2 mdl2-favorite-list" aria-hidden="true"></i><span class="sr-only">favorites list icon</span></div></div>
            <div class="item"><div><i class="mdl2 mdl2-mail" aria-hidden="true"></i><span class="sr-only">envelope icon</span></div></div>
            <div class="item"><div><i class="mdl2 mdl2-send" aria-hidden="true"></i><span class="sr-only">send icon</span></div></div>
            <div class="item"><div><i class="mdl2 mdl2-bookmarks" aria-hidden="true"></i><span class="sr-only">bookmarks icon</span></div></div>
            <div class="item"><div><i class="mdl2 mdl2-home" aria-hidden="true"></i><span class="sr-only">home icon</span></div></div>
            <div class="item"><div><i class="mdl2 mdl2-permissions" aria-hidden="true"></i><span class="sr-only">permissions icon</span></div></div>
            <div class="item"><div><i class="mdl2 mdl2-heart" aria-hidden="true"></i><span class="sr-only">heart icon</span></div></div>
            <div class="item"><div><i class="mdl2 mdl2-like" aria-hidden="true"></i><span class="sr-only">thumbs up icon</span></div></div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#icon-carousel" data-slide="prev">
            <i class="mdl2 mdl2-scroll-chevron-left-bold-legacy" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control right" href="#icon-carousel" data-slide="next">
            <i class="mdl2 mdl2-scroll-chevron-right-bold-legacy" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
