<section id="why" class="feature-list">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <h4><i class="mdl2 mdl2-font" aria-hidden="true"></i> One Font</h4>
        All of the MDL2 icons in a single collection.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="mdl2 mdl2-block-legacy" aria-hidden="true"></i> No JavaScript Required</h4>
      Fewer compatibility concerns because MDL2 Icons don't require JavaScript.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="mdl2 mdl2-font-size" aria-hidden="true"></i> Infinite Scalability</h4>
      Scalable vector graphics means every icon looks awesome at any size.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="mdl2 mdl2-pencil" aria-hidden="true"></i> CSS Control</h4>
      Easily style icon color, size, shadow, and anything that's possible with CSS.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="mdl2 mdl2-view" aria-hidden="true"></i> Perfect on Retina Displays</h4>
      Font Awesome icons are vectors, which mean they're gorgeous on high-resolution displays.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="mdl2 mdl2-world" aria-hidden="true"></i> Plays Well with Others</h4>
      Originally designed for <a href="{{ site.bootstrap.url }}">Bootstrap</a>, Font Awesome works great with all frameworks.
    </div>
  </div>
</section>
