<section>
   <h2 class="page-header">Hearts</h2>
   <div class="row mdl2-icon-list">
   <div class="mdl2-hover col-md-3 col-sm-4"><a href="{{ page.relative_path }}icon/heart-broken-legacy"><i class="mdl2 mdl2-heart-broken-legacy" aria-hidden="true"></i><span class="sr-only">Example of </span>heart-broken-legacy</a></div>
   <div class="mdl2-hover col-md-3 col-sm-4"><a href="{{ page.relative_path }}icon/heart-broken-zero-width-legacy"><i class="mdl2 mdl2-heart-broken-zero-width-legacy" aria-hidden="true"></i><span class="sr-only">Example of </span>heart-broken-zero-width-legacy</a></div>
   <div class="mdl2-hover col-md-3 col-sm-4"><a href="{{ page.relative_path }}icon/heart-fill-legacy"><i class="mdl2 mdl2-heart-fill-legacy" aria-hidden="true"></i><span class="sr-only">Example of </span>heart-fill-legacy</a></div>
   <div class="mdl2-hover col-md-3 col-sm-4"><a href="{{ page.relative_path }}icon/heart-fill-zero-width-legacy"><i class="mdl2 mdl2-heart-fill-zero-width-legacy" aria-hidden="true"></i><span class="sr-only">Example of </span>heart-fill-zero-width-legacy</a></div>
   <div class="mdl2-hover col-md-3 col-sm-4"><a href="{{ page.relative_path }}icon/heart-legacy"><i class="mdl2 mdl2-heart-legacy" aria-hidden="true"></i><span class="sr-only">Example of </span>heart-legacy</a></div>
   </div>
</section>
