<section>
   <h2 class="page-header">Rating stars</h2>
   <div class="row mdl2-icon-list">
   <div class="mdl2-hover col-md-3 col-sm-4"><a href="{{ page.relative_path }}icon/half-star-left"><i class="mdl2 mdl2-half-star-left" aria-hidden="true"></i><span class="sr-only">Example of </span>half-star-left</a></div>
   <div class="mdl2-hover col-md-3 col-sm-4"><a href="{{ page.relative_path }}icon/half-star-right"><i class="mdl2 mdl2-half-star-right" aria-hidden="true"></i><span class="sr-only">Example of </span>half-star-right</a></div>
   <div class="mdl2-hover col-md-3 col-sm-4"><a href="{{ page.relative_path }}icon/rating-star-fill-legacy"><i class="mdl2 mdl2-rating-star-fill-legacy" aria-hidden="true"></i><span class="sr-only">Example of </span>rating-star-fill-legacy</a></div>
   <div class="mdl2-hover col-md-3 col-sm-4"><a href="{{ page.relative_path }}icon/rating-star-fill-reduced-padding-html-legacy"><i class="mdl2 mdl2-rating-star-fill-reduced-padding-html-legacy" aria-hidden="true"></i><span class="sr-only">Example of </span>rating-star-fill-reduced-padding-html-legacy</a></div>
   <div class="mdl2-hover col-md-3 col-sm-4"><a href="{{ page.relative_path }}icon/rating-star-fill-small-legacy"><i class="mdl2 mdl2-rating-star-fill-small-legacy" aria-hidden="true"></i><span class="sr-only">Example of </span>rating-star-fill-small-legacy</a></div>
   <div class="mdl2-hover col-md-3 col-sm-4"><a href="{{ page.relative_path }}icon/rating-star-fill-zero-width-legacy"><i class="mdl2 mdl2-rating-star-fill-zero-width-legacy" aria-hidden="true"></i><span class="sr-only">Example of </span>rating-star-fill-zero-width-legacy</a></div>
   <div class="mdl2-hover col-md-3 col-sm-4"><a href="{{ page.relative_path }}icon/rating-star-legacy"><i class="mdl2 mdl2-rating-star-legacy" aria-hidden="true"></i><span class="sr-only">Example of </span>rating-star-legacy</a></div>
   <div class="mdl2-hover col-md-3 col-sm-4"><a href="{{ page.relative_path }}icon/solid-star-legacy"><i class="mdl2 mdl2-solid-star-legacy" aria-hidden="true"></i><span class="sr-only">Example of </span>solid-star-legacy</a></div>
   </div>
</section>
